    <main>        
        <section>    
            <div class="container">
                <div class="two-thirds">
                    <div class="small-padding">
                        <h2 class="black-text"> <%= @anime.name %> </h2>
                        <h5>Abbreviation: <%= @anime.abbreviation %> </h5>
                        <hr class="pink-underline">
                        <h5> Premiere date: <%= @anime.premiere_date %> </h5>
                        <h5> Description of the anime</h5>
                        <p><%= @anime.description %></p>
                        <p> Source information: <%= @anime.link %></p>
                        <img src="<%= @anime.picture%>">
                    </div>
                </div>
                <div class="third">
                    <div class="small-padding light-pink-background round-corners">
                        <div class="small-padding small-bottom-margin pink-border round-corners">
                            <p>Characters (Just the important ones)</p>
                        </div>
                        <div class="small-padding small-bottom-margin pink-background light-text round-corners">

                        <% @anime.characters.each do |sans| %>
                            <div class="container">
                                <div class="half picture"><img src="<%=sans.picture%>"></div>
                                <div class="half name"><a href="/characters/<%= sans.id%>"> <%=sans.name%></a></div>
                            </div>
                        <% end %>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>